<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Configuracion del Juego de Ahorcado</h3>

<form method="post" action="/formulario">

    <label>Longitud de la palabra: </label><br>
    <input type="text" name="longitud"/><br>
    <label>Nùmero de intentos: </label><br>
    <input type="text" name="numero"/><br>
    <label>Tema del juego: </label><br>
    <input type="text" name="tema"/><br>

    <input type="submit" value="Iniciar"/>
</form>
</body>
</html>