<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h3>Configuracion del Juego de Ahorcado</h3>

    <form method="post" action="/persona2/guar
        dar">
        <label>Longitud de la palabra: </label>
        <input type="text" name="longitud"/><br>
        <label>Nùmero de intentos: </label>
        <input type="text" name="numero"/><br>
        <label>Tema del juego: </label>
        <input type="text" name="tema"/><br>

        <input type="submit" value="Iniciar"/><a>Iniciar juego</a>
    </form>

</body>
</html>